@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
}

.container{
    background-color: rgb(73, 68, 68);
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.navbar{
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;

}

.navbar img{
    height: 100px;
    padding-left: 40px;
}

.listitems{
    display: inline;
    color: darkgray;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 50px;
}

.container h1{
    color: white;
    font-size: 40px;
    padding-left: 90px;  
}

.content{
    position: relative;
}

.content h1{
    position: absolute;
    z-index: 1;
}

.content img{
   height: 800px;
   position: absolute;
   top: -350px;
   left: 50px;
}


.content2{
    position: absolute;
    right: 100px;
    top: 120px;
    color: white;
}
.content2 h1{
    padding-left: 0;
    margin-bottom: 20px;
}

.content2 h3{
    color: darkgrey;
    font-weight: normal;
    margin-bottom: 20px;
}


.container2{
    background-color: rgb(45, 45, 49);
    width: 100%;
    height: 90vh;
    position: relative;
}

.content3{
    margin-left: 50px;
    padding-top: 50px;
    color: white;
}

.content3 h3{
    color: darkgrey;
    font-weight: normal;
    margin-bottom: 20px;
}

.content3 h1{
    margin-bottom: 20px;
}

.content3 p{
    color: darkgrey;
    margin-bottom: 70px;
}

.content3 img {
    display: block;
    height: 30px;
    margin-top: 25px;
}

.content3 a{
    color: yellow;
}

.content4{
    color: white;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 60%;
}

.content4 p{
    color: gray;
    font-size: 20px;
}

.content4 h1{
    margin-bottom: 20px;
}

.skills {
    position: absolute;
    left: 45%;
    font-size: 30px;
    top: 40%;
    text-decoration: underline;
    color: white;
}

.overlaps{
    width: 100%;
    height: 25%;
    display: flex;
    position: absolute; /* Reposition logo from the natural layout */
    left: 0%;
    top: 90%;
    z-index: 2;
}

.overlaps img{
    height:70px;
    position: absolute;
    left: 6rem;
    top: 0.3rem;
}

.overlaps2{
    width: 100%;
    height: 25%;
    display: flex;
    position: absolute; /* Reposition logo from the natural layout */
    left: 0%;
    top:137%;
    z-index: 2;
}

.overlaps2 img{
    height:70px;
    position: absolute;
    left: 6rem;
    top: 0.3rem;
}

.boxContent{
    width: 18%;
    height: 120%;
    background: #706868;
    margin-left:50px;
    position: relative;
    top: 250px;
    left: 200px;
    border-radius: 20px;
}

.boxContent h4{
    text-align: center;
    padding: 5rem 0;
}

.boxContent p{
    position: absolute;
    top: 7rem;
    left: 5rem;
}

.container3{
    background-color: #23263A;
    width: 100%;
    height: 100%;
    position: relative;
    display:flex;
}

.contents{
    flex:50%;
    height:100%;
    margin-top:400px;
    margin-left:85px;
}

.contentBox{
    background: #07081F;
    width: 60%;
    height: 50vh;
    margin-bottom: 100px;
    border-radius: 20px;
}

.info{
    height:100%;
    width:70%;
    margin-bottom: 100px;
    font-size: 20px;

}

.container4{
    background-color:#1C1C1E;
    width: 100%;
    height: 100%;
    position: relative;
    display:flex;
    padding-bottom: 50px;
}

.image{
    flex:50%;
    padding-left: 100px;
    margin-top:20px;
}

.image img {
    height: 250px;
}

.text{
    margin-top:150px;
    padding-right:300px;
    flex:50%;
    font-size: 20px;
    
}

.container5{
    background-color: #101732;
    width: 100%;
    height: 70vh;
    position: relative;
    display:flex;
}

.footer img{
    height: 100px;
    position: absolute;
    bottom: -210px;
    left: -80px;
}

.footer h4{
    color: grey;
    font-weight: normal;
    position: absolute;
    bottom: -210px;
    left: -123px;
}

/* form */

h1 {
    margin-top: 0;
    font-weight: 500;
}
form {
    position: relative;
    width: 80%;
    border-radius: 30px;
    background: #fff;
}
.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: rgb(14, 37, 60);
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
 .form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}
.form-inner {
    padding: 40px;
}
.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
}
.form-inner textarea {
    resize: none;
}
button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid rgb(14, 37, 60);
    background: rgb(14, 37, 60); 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
button:hover {
    background: #242f4f;
} 
@media (min-width: 568px) {
form {
    width: 60%;
}
}

.decor {
    display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background: #091125;
}